# Security Headers
<IfModule mod_headers.c>
  Header set X-Frame-Options "DENY"
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
  Header set Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
  Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
  Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://va.vercel-scripts.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; font-src 'self' data:; connect-src 'self'  https://*.olivetocontabilidade.com https://*.vercel-analytics.com https://*.vercel-insights.com; frame-ancestors 'none'; object-src 'none'; base-uri 'self'; upgrade-insecure-requests;"
  Header set X-Permitted-Cross-Domain-Policies "none"
  Header set X-DNS-Prefetch-Control "off"
</IfModule>

# 1. Tenta usar o arquivo dentro da pasta 404, se falhar tenta o arquivo da raiz
ErrorDocument 404 /404/index.html

# 2. Garante que o index.html seja o arquivo principal de cada pasta
DirectoryIndex index.html

# 3. Evita que o Apache mostre erro 403 ao tentar listar pastas
Options -Indexes -MultiViews

RewriteEngine On
RewriteBase /

# 4. Se o usuário digitar /contatos (sem barra), redireciona para /contatos/ (com barra)
# Isso é essencial porque o Next.js exportou como pasta
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

# 5. Regra de Fallback para o SPA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
